@using ETicaret.Components.Pages
@{
    ViewData["Title"] = "Kullanıcı Bilgilerim";
    ViewData["UseBlazor"] = true;
}

@section Styles {
    <link asp-append-version="true" href="~/css/profile.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/blazor-loader.css" />
}

@section Scripts {
    <script src="~/js/blazor-loader.js" asp-append-version="true"></script>
}

<div id="pre-blazor-loading">
    <div class="flex flex-col items-center justify-center min-h-[75vh]">
        <div class="relative mb-4">
            <div class="w-16 h-16 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
        </div>
        <p class="text-gray-500 font-medium text-lg">Yükleniyor...</p>
    </div>
</div>

<div id="blazor-container">
    <component type="typeof(Account)" render-mode="Server" />
</div>
