@page "/admin"
@namespace E_Ticaret.Pages
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NHCXQEGG0W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NHCXQEGG0W');
    </script>

    <title>SiparişKapıda - Admin Paneli</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body class="admin">
    <component type="typeof(ETicaret.Components.App)" render-mode="Server" />

    <script src="js/site.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>