@inherits LayoutComponentBase

<div class="flex flex-col h-screen overflow-hidden">
    <header class="shrink-0">
        <AdminNavbar />
    </header>
    <div class="flex flex-1 min-h-0">
        <aside class="w-64 shrink-0 overflow-hidden">
            <AdminSidebar />
        </aside>
        <div class="flex flex-col flex-1 min-h-0 overflow-y-auto px-2 sm:px-4 lg:px-6 xl:px-16">
            <Notification />
            <main role="main" class="flex-1 lg:mt-4" id="main-content">
                @Body
            </main>
        </div>
    </div>
</div>

<div id="toastContainer" class="toast-container"></div>
