@using ETicaret.Components.Layout

<CascadingAuthenticationState>
    <GlobalErrorBoundary>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)">
                    <Authorizing>
                        <p>Yetkilendirme kontrol ediliyor...</p>
                    </Authorizing>
                    <NotAuthorized>
                        <p>Bu sayfaya erişim yetkiniz yok.</p>
                        <a href="/account/login">Giriş Yap</a>
                    </NotAuthorized>
                </AuthorizeRouteView>

            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(AdminLayout)">
                    <p>Sayfa bulunamadı.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </GlobalErrorBoundary>
</CascadingAuthenticationState>