@using ETicaret.Components.Layout

<CascadingAuthenticationState>
    <GlobalErrorBoundary>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)">
                    <Authorizing>
                        <div class="flex items-center justify-center min-h-screen bg-gray-50">
                            <div class="text-center">
                                <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-blue-500 mx-auto"></div>
                                <p class="mt-4 text-gray-600 font-medium">Yetkilendirme kontrol ediliyor...</p>
                            </div>
                        </div>
                    </Authorizing>
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated == true)
                        {
                            <RedirectToNotFound />
                        }
                        else
                        {
                            <RedirectToLogin />
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <RedirectToNotFound />
            </NotFound>
        </Router>
    </GlobalErrorBoundary>
</CascadingAuthenticationState>